:root{
    --cor-vermelha-texto-erro: #ff0000;
    --cor-verde-texto-aprova: rgb(0, 255, 0);
}

.botao-baixar{
    margin-top: 0.3rem;
    width: 7rem;
    
}

.texto-status-negrito{
    margin-top: 0.9rem;
    font-weight: bolder;
}

.text-verde-status{
    color: var(--cor-verde-texto-aprova) !important;
}

.text-vermelho-status{
    color: var(--cor-vermelha-texto-erro) !important;
}

.input-text-customizado{
    width: 30rem;
}

.div-para-input-text{
    margin-bottom: 1rem;
    padding-left: 0;
}

.charSobrando{
    margin-left: 1rem;
}

.passkey-customizado{
    width: 14rem;
}