:root{
    --collapse-grossura-borda: 0.3rem;
    --width-posts-maes: 95%;
}

.post-mae-margin-dps-1{
    margin-top: 3.7rem !important;
}

.post-mae{
    width: var(--width-posts-maes);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    box-shadow: 1.1rem 1.1rem 1rem var(--cor-bg-sombra);
}

.posts{
    height: 3rem;
    color: black;
    border-radius: 0.3rem;
    box-shadow: 1.1rem 1.1rem 1rem var(--cor-bg-sombra);
}

.post-button{
    margin-bottom: 0;
    width: fit-content;
}

.put-end{
    margin-left: auto;
}

.paragrafo-real{
    text-align: justify;
    text-indent: 1.5rem;
}

.esconder{
    color: rgba(250, 235, 215, 0);
}

.collapse-customizado{
    border-width: var(--collapse-grossura-borda);
    margin-top: 0.5rem;
}