:root{
    --tamanho-texto-customizado-alerta: 15rem;
}

.texto-grande-pa-poha{
    height: var(--tamanho-texto-customizado-alerta);
    width: var(--tamanho-texto-customizado-alerta);
}

.main-container{
    height: 100vh;
}