:root{
    --cor-bg: #252525;
    --cor-font-p-preto: whitesmoke;
    --cor-font-cinza: lightgray;
    --cor-font-p-branco: var(--cor-bg);
    --cor-bg-sombra: #191919;

    --espacamento-itens-navbar: 4rem;
    --fonte-padrao: 'Ubuntu Mono', monospace, 'Courier New', Courier;
}

.erm-coisas-customizadas{
    font-family: var(--fonte-padrao);
    background-color: var(--cor-bg) !important;
}

.hr-entre-nav-main-container{
    width: 100%;
    height: 0.2rem;
    background-color: orangered;
}

body{
    background-color: var(--cor-bg) !important;
}

.main-container{
    font-family: var(--fonte-padrao);
    color: var(--cor-font-p-preto);
    width: 100vw;
    height: auto;
    /* height: calc(100vh - 0.2rem - 56px); */
    /* height: -o-calc(100vh - 0.2rem - 56px); opera */
    /* height: -webkit-calc(100vh - 0.2rem - 56px); google, safari */
    /* height: -moz-calc(100vh - 0.2rem - 56px); firefox */
    background-color: var(--cor-bg) !important;
}

.cor-branca-boa-texto{
    color: whitesmoke;
}

.wip-container{
    width: 80%;
    height: 80%;
    box-shadow: 1.1rem 1.1rem 1rem var(--cor-bg-sombra);
}

.container-secundairo{
    width: 95%;
    height: auto;

    padding-top: 1.2rem;
}

@keyframes animacao-p-doce-p-olhos{
    0% {color: hsl(0, 100%, 50%);}
    14% {color: hsl(60, 100%, 50%);}
    28% {color: hsl(120, 100%, 50%);}
    42% {color: hsl(180, 100%, 50%);}
    57% {color: hsl(240, 100%, 50%);}
    71% {color: hsl(300, 100%, 50%);}
    100% {color: hsl(360, 100%, 50%);}
}

.doce-para-os-olhos{
    animation-name: animacao-p-doce-p-olhos;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.navbar-item-customizado{
    color: var(--cor-font-cinza) !important;
    padding-left: var(--espacamento-itens-navbar) !important;
}