<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style-index.css">
    <link rel="stylesheet" href="css/style-404.css">
    <title>ops400's page</title>
</head>
<body>
    <div class="main-container d-flex align-items-center justify-content-center flex-wrap">
    <!-- <div class="main-container"> -->
        <div>
            <h1 class="fw-bold cor-branca-boa-texto text-center">erro 404</h1>
            <h5 class="fw-bold cor-branca-boa-texto text-center">:(</h5>
            <input type="button" value="voltar a página inicial" onclick="redirecionarParaIndex()" class="botao-customizado btn btn-light">
        </div>
    </div>
    <script src="js/script-404.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>