<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style-index.css">
    <link rel="stylesheet" href="css/style-404.css">
    <link rel="stylesheet" href="css/blog-create-post.css">
    <title>ops400's page</title>
</head>
<body>
    <div class="main-container d-flex justify-content-center align-items-center">
        <div class="cor-branca-boa-texto row d-block align-self-start d-flex container-secundairo">
            <p>Não há nada especial aqui</p>
            <p>Essa pagina deve ser utilizada para gerar arquivos de texto pro blog</p>
            <form action="/post" method="get">
                <div class="d-flex div-para-input-text">
                    <input type="text" name="titulo" id="tituloTexto" maxlength="500" data-bs-theme="dark" class="input-text-customizado form-control" placeholder="Título">
                    <p class="charSobrando">Caracteres sobrando: <span id="charsSobrandoTitulo">500</span></p>
                </div>
                <textarea class="form-control" name="conteudo" maxlength="10000" data-bs-theme="dark" name="" id="conteudoPost" rows="10" placeholder="Conteúdo"></textarea>
                <p>Caracteres sobrando: <span id="charsSobrando">10000</span></p>
                <!-- <div> -->
                <div class="div-para-input-text">
                    <input type="password" name="passkey" placeholder="Senha do servidor" id="passkeyText" data-bs-theme="dark" class="form-control passkey-customizado">
                </div>
                <!-- <input type="button" value="baixar" id="btnBaixar" class="btn btn-light botao-customizado botao-baixar"> -->
                <input type="submit" value="baixar" id="btnBaixar" class="btn btn-light botao-customizado botao-baixar">
            </form>
            <span class="" id="spanTextStatus"></span>
            <span class="" id="spanTituloStatus"></span>
            <!-- </div> -->
        </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <script src="js/general-navbar.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/blog-post-create.js"></script>
</body>
</html>