<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style-index.css">
    <link rel="stylesheet" href="css/blog-post.css">
    <title>ops400's page</title>
</head>
<body>
    <div class="main-container d-flex justify-content-center">
        <div class="d-block container-secundairo" id="divPrincial">
            <!-- <p>Hello</p>
            <input type="button" value="test" onclick="pegarIDs()"> -->
            <%- mainDiv %>
        </div>
    </div>
    <!-- <script src="js/blog-coisas-fetch.js"></script> -->
    <script src="js/general-navbar.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>