<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style-index.css">
    <link rel="stylesheet" href="css/blog-create-post.css">
    <link rel="stylesheet" href="css/style-erro-cronico-hehe.css">
    <title>ops400's page</title>
</head>
<body>
    <div class="main-container d-flex justify-content-center align-items-center flex-wrap">
        <!-- <div class="row align-self-start d-block container-secundairo"> -->
        <div>
            <p class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-exclamation texto-status-negrito text-vermelho-status texto-grande-pa-poha" viewBox="0 0 16 16">
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0z"/>
                </svg>
            </p>
            <!-- <h1 class="texto-status-negrito text-vermelho-status text-center texto-grande-pa-poha">!</h1> -->
            <h3 class="fw-bold cor-branca-boa-texto text-center">Um erro ocorreu, provavelmente relacionado com o servido.</h3>
            <p class="text-center"><a href="/" class="text-decoration-none cor-branca-boa-texto">Tentar voltar a página inicial</a></p>
        </div>
    </div>
    <!-- <script src="./js/general-navbar.js"></script> -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>