<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style-index.css">
    <title>ops400's page</title>
</head>
<body>
    <div class="main-container d-flex justify-content-center align-items-center">
        <div class="row align-self-start d-flex container-secundairo">
            <p class="fs-2 fw-bold">Olá mundo!</p>
            <p class="fs-4">Sou o ops400 (também conhecido como Henrique) este é o meu site pessoal! Irei usar-lo apenas para demonstrar projetos web estáticos, falar em maior detalhe sobre os meus projetos e como se fosse um blog.</p>
            <p class="fs-4">Se quiser dar uma olhada nos meus projetos já existentes é só ir no meu <a href="https://gitlab.com/ops400">gitlab</a>. Lá você ira encontrar vários projetos (a maioria inacabados) simples e alguns "ambiciosos" (como o <a href="https://gitlab.com/ops400/comp24">comp24</a>).</p>
            <p class="fs-4">Caso se sinta perdido use a <span class="fw-bold">NavBar muito <span class="doce-para-os-olhos">bonita</span></span> para te ajudar a navegar pelo site.</p>
            <h2 class="text-center">Mais em breve</h2>
        </div>
    </div>
    <script src="js/general-navbar.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>