<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style-index.css">
    <title>ops400's page</title>
</head>
<body>
    <div class="main-container d-flex justify-content-center">
        <div class="d-block container-secundairo">
            <div class="row">
                <p class="fs-3"><a href="https://gitlab.com/ops400/comp24">comp24</a></p>
                <p class="fs-5">O comp24 é um processador 16 bits que foi criado do zero. Por mais que ele não tenha um diagrama elétrico do processador ele tem todo um "specsheet" criado.</p>
                <p class="fs-7">O repositório desse projeto tem o emulador e o assembler</p>
            </div>
            <div class="row">
                <p class="fs-3"><a href="https://gitlab.com/ops400/she">Simple Hex Editor (S.H.E)</a></p>
                <p class="fs-5">É um editor hexadecimal simples feito com o <a href="https://github.com/ocornut/imgui">Dear ImGui</a> em C++. Ele existe apenas para ser integrável em qualquer projeto meu que precise um editor hexadecimal, como a versão gráfica do emulador do comp24.</p>
            </div>
        </div>
    </div>
    <script src="js/general-navbar.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>