body {
    font-family: "Ubuntu Mono", monospace, "Courier New", Courier;
}
.cool-rainbow-navbar-brand-text {
    animation-name: rainbow-text-transition;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rainbow-text-transition {
    0% {color: hsl(0, 100%, 50%); !important}
    1% {color: hsl(3.59, 100%, 50%); !important}
    2% {color: hsl(7.18, 100%, 50%); !important}
    3% {color: hsl(10.77, 100%, 50%); !important}
    4% {color: hsl(14.36, 100%, 50%); !important}
    5% {color: hsl(17.95, 100%, 50%); !important}
    6% {color: hsl(21.54, 100%, 50%); !important}
    7% {color: hsl(25.13, 100%, 50%); !important}
    8% {color: hsl(28.72, 100%, 50%); !important}
    9% {color: hsl(32.31, 100%, 50%); !important}
    10% {color: hsl(35.9, 100%, 50%); !important}
    11% {color: hsl(39.49, 100%, 50%); !important}
    12% {color: hsl(43.08, 100%, 50%); !important}
    13% {color: hsl(46.67, 100%, 50%); !important}
    14% {color: hsl(50.26, 100%, 50%); !important}
    15% {color: hsl(53.85, 100%, 50%); !important}
    16% {color: hsl(57.44, 100%, 50%); !important}
    17% {color: hsl(61.03, 100%, 50%); !important}
    18% {color: hsl(64.62, 100%, 50%); !important}
    19% {color: hsl(68.21, 100%, 50%); !important}
    20% {color: hsl(71.8, 100%, 50%); !important}
    21% {color: hsl(75.39, 100%, 50%); !important}
    22% {color: hsl(78.98, 100%, 50%); !important}
    23% {color: hsl(82.57, 100%, 50%); !important}
    24% {color: hsl(86.16, 100%, 50%); !important}
    25% {color: hsl(89.75, 100%, 50%); !important}
    26% {color: hsl(93.34, 100%, 50%); !important}
    27% {color: hsl(96.93, 100%, 50%); !important}
    28% {color: hsl(100.52, 100%, 50%); !important}
    29% {color: hsl(104.11, 100%, 50%); !important}
    30% {color: hsl(107.7, 100%, 50%); !important}
    31% {color: hsl(111.29, 100%, 50%); !important}
    32% {color: hsl(114.88, 100%, 50%); !important}
    33% {color: hsl(118.47, 100%, 50%); !important}
    34% {color: hsl(122.06, 100%, 50%); !important}
    35% {color: hsl(125.65, 100%, 50%); !important}
    36% {color: hsl(129.24, 100%, 50%); !important}
    37% {color: hsl(132.83, 100%, 50%); !important}
    38% {color: hsl(136.42, 100%, 50%); !important}
    39% {color: hsl(140.01, 100%, 50%); !important}
    40% {color: hsl(143.6, 100%, 50%); !important}
    41% {color: hsl(147.19, 100%, 50%); !important}
    42% {color: hsl(150.78, 100%, 50%); !important}
    43% {color: hsl(154.37, 100%, 50%); !important}
    44% {color: hsl(157.96, 100%, 50%); !important}
    45% {color: hsl(161.55, 100%, 50%); !important}
    46% {color: hsl(165.14, 100%, 50%); !important}
    47% {color: hsl(168.73, 100%, 50%); !important}
    48% {color: hsl(172.32, 100%, 50%); !important}
    49% {color: hsl(175.91, 100%, 50%); !important}
    50% {color: hsl(179.5, 100%, 50%); !important}
    51% {color: hsl(183.09, 100%, 50%); !important}
    52% {color: hsl(186.68, 100%, 50%); !important}
    53% {color: hsl(190.27, 100%, 50%); !important}
    54% {color: hsl(193.86, 100%, 50%); !important}
    55% {color: hsl(197.45, 100%, 50%); !important}
    56% {color: hsl(201.04, 100%, 50%); !important}
    57% {color: hsl(204.63, 100%, 50%); !important}
    58% {color: hsl(208.22, 100%, 50%); !important}
    59% {color: hsl(211.81, 100%, 50%); !important}
    60% {color: hsl(215.4, 100%, 50%); !important}
    61% {color: hsl(218.99, 100%, 50%); !important}
    62% {color: hsl(222.58, 100%, 50%); !important}
    63% {color: hsl(226.17, 100%, 50%); !important}
    64% {color: hsl(229.76, 100%, 50%); !important}
    65% {color: hsl(233.35, 100%, 50%); !important}
    66% {color: hsl(236.94, 100%, 50%); !important}
    67% {color: hsl(240.53, 100%, 50%); !important}
    68% {color: hsl(244.12, 100%, 50%); !important}
    69% {color: hsl(247.71, 100%, 50%); !important}
    70% {color: hsl(251.3, 100%, 50%); !important}
    71% {color: hsl(254.89, 100%, 50%); !important}
    72% {color: hsl(258.48, 100%, 50%); !important}
    73% {color: hsl(262.07, 100%, 50%); !important}
    74% {color: hsl(265.66, 100%, 50%); !important}
    75% {color: hsl(269.25, 100%, 50%); !important}
    76% {color: hsl(272.84, 100%, 50%); !important}
    77% {color: hsl(276.43, 100%, 50%); !important}
    78% {color: hsl(280.02, 100%, 50%); !important}
    79% {color: hsl(283.61, 100%, 50%); !important}
    80% {color: hsl(287.2, 100%, 50%); !important}
    81% {color: hsl(290.79, 100%, 50%); !important}
    82% {color: hsl(294.38, 100%, 50%); !important}
    83% {color: hsl(297.97, 100%, 50%); !important}
    84% {color: hsl(301.56, 100%, 50%); !important}
    85% {color: hsl(305.15, 100%, 50%); !important}
    86% {color: hsl(308.74, 100%, 50%); !important}
    87% {color: hsl(312.33, 100%, 50%); !important}
    88% {color: hsl(315.92, 100%, 50%); !important}
    89% {color: hsl(319.51, 100%, 50%); !important}
    90% {color: hsl(323.1, 100%, 50%); !important}
    91% {color: hsl(326.69, 100%, 50%); !important}
    92% {color: hsl(330.28, 100%, 50%); !important}
    93% {color: hsl(333.87, 100%, 50%); !important}
    94% {color: hsl(337.46, 100%, 50%); !important}
    95% {color: hsl(341.05, 100%, 50%); !important}
    96% {color: hsl(344.64, 100%, 50%); !important}
    97% {color: hsl(348.23, 100%, 50%); !important}
    98% {color: hsl(351.82, 100%, 50%); !important}
    99% {color: hsl(355.41, 100%, 50%); !important}
    100% {color: hsl(359, 100%, 50%); !important}
}

.card-grande {
    width: 75vw;
}

p{
    text-indent: 1rem;
}
