<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="src/public/css/style.css" />
        <title>ops400 site - Home</title>
    </head>
    <body data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <span class="navbar-brand cool-rainbow-navbar-brand-text">
                    Navbar muito bonita
                </span>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="#"
                                >Pagina inicial</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="projetos.html"
                                >Projetos</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Postar (só para mim)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div
            class="container card-grande rounded-2 bg-dark-subtle shadow-lg mt-4 pb-2 pt-2"
        >
            <h2 class="fw-bold">Olá Mundo!</h2>
            <p class="fs-4">
                Sou o ops400 (também conhecido como Henrique) este é o meu site
                pessoal! Irei usar-lo apenas para demonstrar projetos web
                estáticos, falar em maior detalhe sobre os meus projetos e como
                se fosse um blog.
            </p>
            <p class="fs-4">
                Se quiser dar uma olhada nos meus projetos já existentes é só ir
                no meu <a href="https://gitlab.com/ops400">gitlab</a>. Lá você
                ira encontrar vários projetos (a maioria inacabados) simples e
                alguns "ambiciosos" (como o
                <a href="https://gitlab.com/ops400/comp24">comp24</a>).
            </p>
            <p class="fs-4">
                Caso se sinta perdido use a
                <span class="fw-bold"
                    >NavBar muito
                    <span class="cool-rainbow-navbar-brand-text"
                        >bonita</span
                    ></span
                >
                para te ajudar a navegar pelo site.
            </p>
            <h2 class="text-center">Mais em breve</h2>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
